In [3]:
import pandas as pd 
import numpy as np
np.set_printoptions(precision=4)

In [7]:
df=pd.read_csv(r'F:\Study\username.csv')

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

In [8]:
df=pd.read_csv(r'F:\Study\username.csv')

In [9]:
df.head()

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

In [15]:
df1=pd.read_table('F:\Study\Sample.tsv',header=None)

In [16]:
df1

                0                1               2
0  Some parameter  Other parameter  Last parameter
1           CONST           123456           12.45

In [14]:
df

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

In [17]:
df=pd.read_csv(r'F:\Study\username.csv',header=None)

In [18]:
df.head()

                                           0
0  Username; Identifier;First name;Last name
1                booker12;9012;Rachel;Booker
2                     grey07;2070;Laura;Grey
3               johnson81;4081;Craig;Johnson
4                jenkins46;9346;Mary;Jenkins

In [24]:
df=pd.read_csv(r'F:\Study\username.csv',names=['a','b','c','d'])

In [21]:
df

                                           a   b   c   d
0  Username; Identifier;First name;Last name NaN NaN NaN
1                booker12;9012;Rachel;Booker NaN NaN NaN
2                     grey07;2070;Laura;Grey NaN NaN NaN
3               johnson81;4081;Craig;Johnson NaN NaN NaN
4                jenkins46;9346;Mary;Jenkins NaN NaN NaN
5                   smith79;5079;Jamie;Smith NaN NaN NaN

In [31]:
df=pd.read_csv(r'F:\Study\username.csv',index_col='a')

ValueError: Index a invalid